section{
    min-height: 90vh;
    max-width: 1500px;
/*    background: #DBEDF7;
    border: 1px solid black;*/
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about2{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 90px 0;
}

.about::before,
.about::after {
    content: '';
    border: 0.5px solid black;
    display: block;
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    animation: color-change 2s infinite;
}
@keyframes color-change {
    0% {
        border-color: #069a9a;
    }
    25% {
        border-color: #06619a;
    }
    50% {
        border-color: #06229a;
    }
    75% {
        border-color: #06619a;
    }
    100% {
        border-color: #069a9a;
    }
}

.about h1,p{
    padding-bottom: 5%;
    position: relative;
    width:100%;
}
.about-text{
    display: block;
    padding: 0 50px;
    width: 70%;
}
.section-img{
    min-width: 30%;
}
.section-img img{
    width: 90%;
    height: 100;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
