*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    background: white;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fullscreen-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    overflow: hidden;
}
.title {
    height: 10vh;
    font-size : 1.5rem;
}